.ft_con{
	padding:10px;
	color:#404040
}

.ft_con input,.ft_con select{
	vertical-align:middle
}

.ld_btn_creat,.ld_btn_search,.ld_nav,.ld_page_btn,.ld_step_title,.ld_good_chose,.ld_btn_onsale,.ld_onsale_tips,.fs_pro_top,.fs_pro_img,.fs_setting,.fs_cancel,.fs_setting_full,.fs_input_time,.fs_tips,.fs_layer_btn,.ft_create,.ft_top span,.ft_tickets_top,.ft_tips,.addedList li a,.dptc_create,.dptc_top span,.dptc_tickets_top,.dptc_tips,.fs_set,.reasonBD p{
	background:url(http://resource1.cn100.com/global/images/fs_pic.png) no-repeat
}

.ft_create{
	background-position:-212px -196px;
	width:70px;
	height:28px;
	line-height:28px;
	cursor:pointer;
	border:none;
	color:#404040
}

.ft_top span{
	background-color:#ffffe5;
	background-position:-779px -27px;
	border:1px solid #ffcc7f;
	color:#3b3b3c;
	margin:0 5px;
	padding:4px 25px
}

.ft_top_span a{
	color:#2d82f5;
	text-decoration:none;
	margin:0 5px
}

.ft_top_span a:hover{
	color:#2d82f5;
	text-decoration:none
}

.ft_top span b{
	color:#ff7442;
	margin:0 2px
}

.ft_copy{
	margin:10px 0
}

.ft_copy a{
	color:#2d82f5;
	text-decoration:none
}

.ft_copy a:hover{
	color:#2d82f5;
	text-decoration:underline
}

.ft_tickets li{
	float:left;
	width:242px;
	margin:5px 14px;
	text-align:center
}

.ft_tickets_top{
	background-position:-189px -149px;
	width:242px;
	height:30px;
	line-height:30px;
	margin-bottom:-3px
}

.ft_tickets_top h2{
	float:left;
	font-size:12px;
	padding:0 5px
}

.ft_tickets_top span{
	float:right;
	padding:0 5px
}

.ft_tickets_center{
	border:solid 1px #ccc;
	background-color:#f7f7f7;
	border-top:none;
	padding:0 5px
}

.ft_tickets_center dl{
	line-height:21px;
	padding:5px 0
}

.ft_tickets_center dt{
	float:left;
	width:80px;
	text-align:right
}

.ft_tickets_center dd{
	text-align:left;
	margin-left:85px
}

.ft_tickets_center_span{
	font-weight:bold;
	color:#ff7442
}

.ft_tickets_img{
	text-align:center;
	position:relative;
	width:190px;
	height:95px;
	overflow:hidden;
	margin:auto
}

.ft_tickets_img .txt{
	width:45px;
	position:absolute;
	font-weight:bold;
	z-index:4;
	color:#fff;
	font-family:Sans-Serif;
	font-size:2em;
	top:44px
}

.ft_tickets_img img{
	width:190px;
	height:95px
}

.ft_tickets_img .doc{
	text-align:left;
	padding-right:2px;
	position:absolute;
	bottom:0;
	right:0;
	line-height:18px;
	color:#fff
}

.ft_tickets_img .doc span{
	color:#ff7442;
	padding:0 2px
}

.ft_editor p{
	height:30px;
	line-height:30px
}

.ft_editor label{
	width:120px;
	text-align:right;
	float:left
}

.ft_input{
	border:1px solid #c3d5df;
	color:#404040;
	font-size:12px;
	height:20px;
	line-height:20px
}

.ft_input122{
	width:122px
}

.ft_tips{
	background-position:-781px -91px;
	background-color:#fff2f5;
	border:solid 1px #fe8081;
	margin:0 5px;
	padding:5px 20px
}

.ft_pic{
	background:#ddd url(http://resource1.cn100.com/global/images/ft_red.jpg) no-repeat;
	position:relative;
	width:190px;
	height:95px;
	float:left;
	margin:10px 0;
	overflow:hidden
}

.ft_pic p{
	color:#fff;
	text-align:right;
	padding:70px 10px 0 0
}

.ft_pic p b{
	color:#ff7442;
	margin:0 2px
}

.ft_pic_small{
	float:left;
	width:350px;
	margin:10px 0;
	padding-left:40px;
	overflow:hidden
}

.ft_pic_small li{
	float:left;
	width:104px;
	margin:5px;
	overflow:hidden
}

.fs_btn{
	padding-left:125px
}

.ft_pic #metxt{
	position:absolute;
	font-weight:bold;
	width:50px;
	z-index:4;
	color:#fff;
	font-family:Sans-Serif;
	font-size:2em;
	top:44px;
	text-align:center
}

.fs_tab li span,.fs_tab li a,.fs_tab_selected span,.fs_tab_selected a{
	background:url(http://resource1.cn100.com/global/images/orob_userCssSprite.png) no-repeat
}

.fs_tab li span{
	background-position:-624px -30px;
	display:block;
	overflow:hidden;
	background-color:#ebf5ff
}

.fs_tab{
	float:left;
	width:auto;
	margin:10px 0;
	border-bottom:solid 1px #aed3ff;
	width:98%;
	padding-left:10px
}

.fs_tab li{
	float:left;
	margin-right:3px;
	text-align:center;
	height:26px
}

.fs_tab li a{
	color:#404040;
	text-decoration:none;
	padding:0 12px;
	background-position:right -60px;
	border-bottom:1px solid #add2ff;
	float:left;
	padding-bottom:0;
	line-height:26px
}

.fs_tab li a:hover{
	color:#404040;
	text-decoration:none
}

.fs_tab_selected span{
	background-position:-624px -89px!important;
	background-color:#fff
}

.fs_tab_selected a{
	background-position:right -120px!important;
	font-weight:bold;
	text-decoration:none;
	border:solid 1px #fff!important;
	line-height:26px;
	height:26px
}

.fs_con{
	padding:10px;
	color:#404040
}

.fs_con input{
	vertical-align:middle;
	margin:-4px 2px 0 2px
}

.fs_con p,.fs_con ul,.fs_con div{
	padding-left:20px
}

.fs_con_h2{
	background:#ebf5ff;
	font-size:12px;
	font-weight:bold;
	height:30px;
	line-height:30px;
	text-indent:1.5em
}

.fs_inf li{
	line-height:25px
}

.fs_setting_act{
	line-height:35px
}

.fs_pro{
	width:767px;
	border:1px solid #e5e5e3;
	border-top:none;
	margin-left:2px;
	padding-bottom:10px;
	padding-left:0!important
}

.fs_pro h2{
	font-size:12px;
	font-weight:bold;
	height:30px;
	line-height:30px;
	text-indent:2em;
	color:#404040
}


.fs_pro_top{
	background-position:0 0;
	width:771px;
	height:26px
}

.fs_pro_con{
	width:720px;
	border:solid 1px #ededed;
	margin:0 auto;
	padding:5px;
	padding-left:0!important
}

.fs_pro_img{
	background-position:0 -86px;
	width:95px;
	height:51px
}

.fs_btn{
	margin:20px 0
}

.fs_setting,.fs_cancel{
	width:76px;
	height:25px;
	line-height:25px;
	color:#fff;
	border:none;
	cursor:pointer
}

.fs_setting{
	background-position:-93px -42px
}

.fs_cancel{
	background-position:-185px -42px
}

.fs_setting_full{
	width:80px;
	height:26px;
	line-height:26px;
	color:#404040;
	border:none;
	cursor:pointer;
	background-position:0 -42px
}

.fs_con_star li{
	line-height:30px
}

.fs_con_star li h3{
	font-size:12px;
	font-weight:bold;
	height:30px;
	line-height:30px;
	color:#404040
}

.fs_input{
	border:solid 1px #a7a6aa;
	height:20px;
	line-height:20px;
	color:#404040;
	font-size:12px
}

.fs_input_220{
	width:224px
}

.fs_input_80{
	width:80px
}

.fs_input_428{
	width:450px;
	*width:458px
}

.fs_input_56{
	width:56px;
	margin:0 2px
}

.fs_input_time{
	background-position:-305px -45px;
	padding-left:20px
}

.fs_con_li{
	padding-left:60px
}

.fs_tips{
	background-color:#fff2f5;
	background-position:-781px -91px;
	border:1px solid #fe8081;
	margin:0 5px;
	padding:5px 20px
}

.fs_con_li a{
	color:#2d82f5;
	text-decoration:none
}

.fs_con_li a:hover{
	color:#2d82f5;
	text-decoration:none
}

.b{
	font-weight:bold
}

.gray_bg{
	background-color:#f1f1f1
}

.delhref{
	float:right;
	margin-right:10px
}

.province li{
	float:left;
	margin-right:4px;
	padding-top:4px;
	width:18%;
	text-align:left
}

.province li input{
	margin-right:3px;
	vertical-align:middle
}

#harea{
	display:none
}

.ld_con{
	padding:0 10px;
	color:#404040
}

.ld_con_bulid{
	text-align:right;
	margin-right:15px
}

.ld_con_bulid a{
	color:#2d82f5;
	text-decoration:none
}

.ld_con_bulid a:hover{
	color:#2d82f5;
	text-decoration:underline
}

.ld_con input,.ld_con select{
	vertical-align:middle
}

.ld_input{
	border:solid 1px #7f9db9;
	height:20px;
	line-height:20px;
	color:#404040;
	font-size:12px
}

.ld_input_195{
	width:195px
}

.ld_input_125{
	width:125px;
	margin:0 2px
}

.ld_input_80{
	width:70px;
	margin:0 2px
}

.ld_btn_creat,.ld_btn_search{
	border:none;
	cursor:pointer;
	text-align:center
}

.ld_btn_creat{
	width:68px;
	height:27px;
	line-height:27px;
	background-position:0 -201px;
	color:#404040
}

.ld_btn_search{
	width:51px;
	height:21px;
	line-height:15px;
	background-position:-121px -201px;
	color:#000
}

.ld_nav{
	width:800px;
	height:31px;
	background-position:0 -254px;
	float:left;
}

.dptc_con .ld_nav{ width:700px;}

.ld_nav li,.ld_list li,.ld_good_chose li{
	float:left;
	height:30px;
	line-height:30px;
	text-align:center
}

.dptc_con .ld_list li{ height:70px;}

.ld_list li{
	border-bottom:solid 1px #ddd;
}

.ld_list119{
	width:119px;
	border-right:solid 1px #ddd;
	overflow:hidden
}

.ld_list279{
	width:279px;
	border-right:solid 1px #ddd
}

.baseInfo .ld_list279{
	width:279px;
	border-right:none;
}

.ld_list99{
	width:99px;
	border-right:solid 1px #ddd
}

.ld_list{
	width:800px
}
.linfo .ld_list{
	width:700px; clear:both;
}
.downLTips{ clear:both; display:block;}

.ld_list120,.ld_list280,.ld_list100{
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis
}

.ld_list120{
	width:120px
}

.ld_list280{
	width:280px
}

.ld_list100{
	width:100px
}

.ld_list li a{
	color:#36c;
	text-decoration:none
}

.ld_list li a:hover{
	color:#36c;
	text-decoration:underline
}
.ld_list .ztgIcon a:hover{ text-decoration: none;}
.ld_page{
	text-align:right;
	margin:10px 5px;
	background-color:#f3f3f3;
	border:solid 1px #ddd;
	height:35px;
	line-height:35px
}

.ld_page a{
	color:#2d82f5;
	padding:2px 5px;
	margin:0 2px;
	text-decoration:none;
	border:solid 1px #c3d5df
}

.ld_page a:hover{
	color:#2d82f5;
	text-decoration:none
}

.ld_page_selected{
	background:#1479ad;
	color:#fff!important
}

.ld_page_width{
	width:30px;
	margin:0 5px
}

.ld_page_btn{
	background-position:0 -154px;
	width:36px;
	height:25px;
	line-height:25px;
	color:#000;
	border:none;
	cursor:pointer
}

.ld_step{
	margin:5px 0
}

.ld_step_title{
	background-position:0 -310px;
	width:800px;
	height:32px;
	line-height:32px;
	color:#404040
}

.ld_step h1{
	font-size:12px;
	text-indent:2em;
	float:left
}

.ld_step h1 span{
	font-weight:normal;
	margin:0 5px
}

.ld_step_midify{
	font-weight:normal;
	float:right;
	margin:0 15px
}

.ld_step_midify a{
	color:#2d82f5;
	text-decoration:none
}

.ld_step_midify a:hover{
	color:#2d82f5;
	text-decoration:underline
}

.ld_step_midify_margin{
	margin-left:620px!important
}

.ld_step_con{
	border:solid 1px #b2d1ff;
	border-top:none;
	width:798px
}

.ld_setting{
	text-indent:2em
}

.ld_setting li{
	height:40px;
	line-height:40px
}

.ld_setting li span{
	color:red
}

.ld_margin{
	margin-left:90px;
	*margin-left:58px
}

.ld_sea_con{
	height:40px;
	padding-left:20px;
	padding-top:10px
}

.ld_good_chose{
	width:798px;
	height:31px;
	background-position:0 -360px
}

.showitemlist .ld_good_chose{
	width:750px;
	height:31px;
	background-position:0 -360px
}

.ld_list348{
	width:348px
}

.ld_list298{
	width:298px
}

.ld_list100{
	width:100px
}

.ld_list150{
	width:150px;
	word-wrap:break-word
}

.ld_list150color{
	color:#f60;
	font-weight:bold
}

.ld_list150no{
	color:#36c
}

.ld_list150no a{
	color:#36c;
	text-decoration:none
}

.ld_list150no a:hover{
	color:#36c;
	text-decoration:none
}

.ld_good_list li{
	float:left;
	text-align:center;
	padding:5px 0;
	height:60px;
	border-bottom:solid 1px #ddd
}

.ld_good_dec{
	width:348px;
	height:60px
}
.showitemlist .ld_good_dec{ width:280px;}
.showitemlist .ld_good_word{ width:220px;}

.ld_good_dec_width{
	width:298px
}

.ld_good_dec div{
	float:left
}

.ld_good_checkbox{
	width:30px;
	margin:10px 0
}

.ld_good_img img{
	width:50px;
	height:50px;
	overflow:hidden;
	white-space:nowrap
}

.ld_good_img{
	width:55px;
	height:55px;
	_width:55px;
	_height:55px
}

.ld_good_pic{
	margin:0 5px
}

.ld_good_word_width{
	width:210px;
	padding-left:5px;
	text-align:left;
	line-height:20px;
	word-wrap:break-word
}

.ld_good_word_width a{
	color:#36c;
	text-decoration:none
}

.ld_good_word_width a:hover{
	color:#36c;
	text-decoration:underline
}

.ld_good_word{
	width:250px;
	padding-left:5px;
	text-align:left;
	line-height:20px;
	word-wrap:break-word
}

.ld_good_word a{
	color:#36c;
	text-decoration:none
}

.ld_good_word a:hover{
	color:#36c;
	text-decoration:underline
}

.ld_btn_onsale{
	background-position:-70px -154px;
	width:78px;
	height:26px;
	line-height:26px;
	color:#000;
	border:none;
	cursor:pointer
}

.ld_complete{
	margin:10px 8px
}

.ld_onsale_tips{
	background-position:-779px -27px;
	background-color:#ffffe5;
	border:solid 1px #ffcc7f;
	margin:0 5px;
	padding:5px 25px;
	color:#3b3b3c
}

.ld_lineheight_60px{
	line-height:60px
}

.ld_step_title .spanop{
	float:right;
	margin-right:15px
}

.txt_red{
	color:red;
	font-weight:bold
}

.input_red{
	border:solid 1px red!important
}

.valid_box p{
	line-height:25px
}

.valid_box span{
	color:red!important;
	padding-left:3px
}

.dis_input{
	background-color:#e1e1e1!important
}

.txt_r{
	color:red
}

#ui-datepicker-div{
	z-index:10000!important;
}

.fs_set{
	width:80px;
	height:26px;
	line-height:26px;
	color:#404040;
	border:none;
	cursor:pointer;
	background-position:0 -42px!important
}

.ckallbox{
	float:left;
	padding-left:10px
}

.red_tips{
	border:1px solid #FF0000;
	color:#FF0000;
	line-height:15px;
	margin-top:-15px
}

/*add 20130603 套餐搭配*/
.spzt_h{ border-bottom:#b9002a solid 3px; height:27px;width:1150px;margin:15px auto; padding-left:20px; line-height:27px; font-size:14px;}
.spzt_h a{ display:block; overflow:hidden; float:left; width:120px; text-align:center; background:#eaeaea; margin-right:5px; border-radius:6px 6px 0 0; color:#8b8383;}
.spzt_h .ah{ font-weight:bold; color:#fff; background:#b9002a; box-shadow:#999 1px -1px 2px;}
/*失效框*/
.lostitem{ position:relative; display:block; visibility:visible; overflow:visible;}
.reasonBD{ position: absolute; width: 440px;  min-height: 200px; left: 397px; top: 332px; background: #FFF; z-index: 111; border: 1px solid #CCC; padding-bottom: 16px; }

.reasonBD p,.reasonBD .ld_nav,.reasonBD .ld_list{ margin:0 20px;}
.showitemlist{
	position:absolute;
	width:750px;
	left:0; top:0;
	z-index:111;
	background:#FFF; border:1px solid #CCC;
}

/*创建*/
.dptc_con{
	float:left;
	height:auto;
	padding:0px 15px;
	width:800px;
	color:#333;
}
.dptcList_con{padding:0px 15px; color:#333;}

.dptcList_con .ld_list li{background:#f9fafc;}
.ztgIcon{ background:url(http://resource1.cn100.com/global/images/ztg_cssSprite.png) 0 0 no-repeat}
.lostitemIcon{ display:block;float:left; margin-left: 38px; background-position:-940px -467px; overflow:hidden; width:56px; height:30px;}
.dptc_con .baseInfo{ width:800px; padding-left:18px;}
.baseInfo li h2{color:#404040;
	float:left;
	font-weight:normal;
	line-height:28px;
	margin:1px 0 0 20px;
	_margin:1px 0 0 10px;
	padding:4px 8px 0 4px;
	text-align:right;
	width:60px;
	font-size:12px}
.baseInfo li .linfo{width:700px; float:left}
.dptc_con select{
	vertical-align:middle;
	background:none repeat scroll 0 0 transparent;
	border:1px solid #a7a6aa;
	color:#333;
	height:23px;
	width:206px;
	margin:7px 0
}

.dptc_con h6{
	color:#404040;
	float:left;
	display:block;
	font-weight:normal;
	line-height:28px;
	margin:1px 0 0 0px;
	_margin:1px 0 0 10px;
	padding:4px 8px 0 4px;
	text-align:right;
	font-size:12px
}
.dptc_con h1 {
color: #404040;
font-size: 14px;
overflow: hidden;
padding-left: 18px;
padding-top: 10px;
width: 150px;
}
.dptc_con input[type=text]{
	border:1px solid #a7a6aa;
	color:#999;
	padding:2px;
	vertical-align:middle;
	margin:6px 2px 10px 0
}

.dptc_con .pdaddp_Proother{
	color:#666;
	margin-left:20px
}

.dptc_con .pdaddp_Proother input{
	width:20px
}

.dptc_con .pdaddp_Proother select{
	width:55px;
	margin:0 5px
}

.dptc_con input[type=text]{
	border:1px solid #a7a6aa;
	color:#333;
	padding:2px;
	vertical-align:middle;
	margin:6px 4px 10px 0;
	width:64px;
}

.dptc_con .pdaddp_ProBtn{
	float:left;
	margin-left:100px;
	_margin-left:66px;
	line-height:36px;
	margin-top:10px;
	text-align:center
}
.pdaddp_Protitle,.pdaddp_Procolor,.pdaddp_Prosize,.pdaddp_Proprice,.pdaddp_Procoding,.pdaddp_Pronumber,.pdaddp_Proimg,.pdaddp_Procategories,.pdaddp_attributePro{
	overflow:hidden;
	padding-top:5px;
	width:800px
}

.pdaddp_Procoding em,.pdaddp_Procategories em,.pdaddp_Protitle em,.pdaddp_Proprice em,.pdaddp_Pronumber em,.pdaddp_Proimg em,.pdaddp_Prodescription em,.pdaddp_Prologistics em{
	color:red;
	margin-top:1px;
	font-style:normal;
	line-height:25px;
	*vertical-align:middle
}

.pdaddp_Procoding h6,.pdaddp_attributePro h6,.pdaddp_Protitle h6,.pdaddp_Procolor h6,.pdaddp_Prosize h6,.pdaddp_Pronumber h6,.pdaddp_Proimg h6{
	word-wrap:normal;
}



.dptc_con input,.dptc_con select{
	vertical-align:middle
}


.dptc_create{
	background-position:-212px -196px;
	width:70px;
	height:28px;
	line-height:28px;
	cursor:pointer;
	border:none;
	color:#404040
}



.dptc_top span{
	background-color:#ffffe5;
	background-position:-779px -27px;
	border:1px solid #ffcc7f;
	color:#3b3b3c;
	margin:0 5px;
	padding:4px 25px
}

.dptc_top_span a{
	color:#2d82f5;
	text-decoration:none;
	margin:0 5px
}

.dptc_top_span a:hover{
	color:#2d82f5;
	text-decoration:none
}

.dptc_top span b{
	color:#ff7442;
	margin:0 2px
}

.dptc_copy{
	margin:10px 0
}

.dptc_copy a{
	color:#2d82f5;
	text-decoration:none
}

.dptc_copy a:hover{
	color:#2d82f5;
	text-decoration:underline
}

.dptc_tickets li{
	float:left;
	width:242px;
	margin:5px 14px;
	text-align:center
}

.dptc_tickets_top{
	background-position:-189px -149px;
	width:242px;
	height:30px;
	line-height:30px;
	margin-bottom:-3px
}

.dptc_tickets_top h2{
	float:left;
	font-size:12px;
	padding:0 5px
}

.dptc_tickets_top span{
	float:right;
	padding:0 5px
}

.dptc_tickets_center{
	border:solid 1px #ccc;
	background-color:#f7f7f7;
	border-top:none;
	padding:0 5px
}

.dptc_tickets_center dl{
	line-height:21px;
	padding:5px 0
}

.dptc_tickets_center dt{
	float:left;
	width:80px;
	text-align:right
}

.dptc_tickets_center dd{
	text-align:left;
	margin-left:85px
}

.dptc_tickets_center_span{
	font-weight:bold;
	color:#ff7442
}

.dptc_tickets_img{
	text-align:center;
	position:relative;
	width:190px;
	height:95px;
	overflow:hidden;
	margin:auto
}

.dptc_tickets_img .txt{
	width:45px;
	position:absolute;
	font-weight:bold;
	z-index:4;
	color:#fff;
	font-family:Sans-Serif;
	font-size:2em;
	top:44px
}

.dptc_tickets_img img{
	width:190px;
	height:95px
}

.dptc_tickets_img .doc{
	text-align:left;
	padding-right:2px;
	position:absolute;
	bottom:0;
	right:0;
	line-height:18px;
	color:#fff
}

.dptc_tickets_img .doc span{
	color:#ff7442;
	padding:0 2px
}

.dptc_editor p{
	height:30px;
	line-height:30px
}

.dptc_editor label{
	width:120px;
	text-align:right;
	float:left
}

.dptc_input{
	border:1px solid #c3d5df;
	color:#404040;
	font-size:12px;
	height:20px;
	line-height:20px
}

.dptc_input122{
	width:122px
}

.showitemlist .ld_complete span{ width:100px; float:left;}
.showitemlist .ld_complete ul{ width:600px; float:left;}
.addedList li a{ background-position:-738px -93px; width:16px; height:16px; overflow:hidden;}
.dptc_tips{
	background-position:-781px -91px;
	background-color:#fff2f5;
	border:solid 1px #fe8081;
	margin:0 5px;
	padding:5px 20px;
}

.dptc_pic{
	background:#ddd url(http://resource1.cn100.com/global/images/ft_red.jpg) no-repeat;
	position:relative;
	width:190px;
	height:95px;
	float:left;
	margin:10px 0;
	overflow:hidden
}
.dptc_top{ margin-bottom:6px;}


.ft_top_span a{
	color:#2d82f5;
	text-decoration:none;
	margin:0 5px
}

.ft_top_span a:hover{
	color:#2d82f5;
	text-decoration:none
}

.ft_top span b{
	color:#ff7442;
	margin:0 2px
}

.dptc_pic p{
	color:#fff;
	text-align:right;
	padding:70px 10px 0 0
}

.dptc_pic p b{
	color:#ff7442;
	margin:0 2px
}

.dptc_pic_small{
	float:left;
	width:350px;
	margin:10px 0;
	padding-left:40px;
	overflow:hidden
}

.dptc_pic_small li{
	float:left;
	width:104px;
	margin:5px;
	overflow:hidden
}

.fs_btn{
	padding-left:125px
}

.dptc_pic #metxt{
	position:absolute;
	font-weight:bold;
	width:50px;
	z-index:4;
	color:#fff;
	font-family:Sans-Serif;
	font-size:2em;
	top:44px;
	text-align:center
}
/*新增*/
/*弹出窗口头部*/
.popHead{display: block; height: 28px;padding: 0 10px;border-bottom: 1px solid #c1d1d8; background: #eaeef2; line-height: 28px;color: #333;}
.popTitle{float: left;}
.popShut{float: right; font-size:20px; font-family: Arial; color: #333; }
.reasonBD .ld_nav{width:auto; background:#eff3f7; margin-bottom: 4px; color: #555;}
.reasonBD .ld_list{width: auto;}
.reasonBD p{ margin-top: 16px; padding: 0 20px 16px 46px; font-size: 14px; color: #333; font-weight: bold;line-height: 20px;background-position: -190px -80px;}
.reasonBD p a{color: #36c; margin: 0 6px;}