@charset "utf-8";
/* CSS Document */
#con_bg { background: #f2f0f0; padding-top: 12px; min-height:300px; }
/*nav*/
.banner{position:relative;width:1188px; margin:0 auto;height:100px; background:#fff url(../../images/loading1.gif) center center no-repeat; overflow:hidden;}
.banner .imglist{position:relative;  }
.banner .imglist li{flast:left;position:absolute; width:100%; height:100px; display:none;}
.clicklist{position:absolute; bottom:10px; right:15px;}
.clicklist li{float:left; margin:0 3px;width:10px; height:10px; background-color:#FFF; border-radius:5px;text-indent:-9999px; cursor:pointer; z-index:1;}
.clicklist .ban_select{ background-color:rgba(255,255,255,0.5);filter:Alpha(Opacity="50");}
.price{width:1188px;margin:10px auto; padding:5px 0; border:1px solid #e9e9e9; border-radius:10px; box-shadow:0 2px 5px #e9e9e9;}
.price h3{float:left; padding:0 10px 0 20px; font: normal 14px/26px "宋体"; color:#333;}
.price ul{float:left; height:24px; background:#fff; border:1px solid #fcbcd2;  border-radius:5px; color:#f69; font: 12px/24px arial;}
.price ul li{float:left;height:24px; padding:0 6px; border-right:1px solid #fcbcd2;}
.price li.selected{ background-color:#ff8cb5; }
.price li.selected a{color:#fff;}
/*blocklist*/
#container { position: relative; margin: 0 auto; width: 1188px; z-index: 2; min-height:400px;overflow: hidden; }
.grid { width: 226px; min-height: 100px; background: #fff;font-size: 12px; float: left; border: 1px solid #eeecec; }
.gridbg{border: 1px solid #e6e4e4; }
.grid strong { border-bottom: 1px solid #ccc; margin: 10px 0; display: block; padding: 5px 0; font-size: 14px;}/**wwwcom**/
.grid .meta { text-align: right; color: #777; font-style: italic; }
.grid .imgholder img {max-width: 200px; max-height: 200px;_width: 200px;_height:200px;/* transform: scale(1, 1); -ms-transform: scale(1, 1); -moz-transform: scale(1, 1); -webkit-transform: scale(1,1); -o-transform: scale(1, 1); transition: transform 0.5s ease-in-out, opacity 0.5s; -moz-transition: -moz-transform 0.5s ease-in-out, opacity 0.5s; -webkit-transition: -webkit-transform 0.5s ease-in-out, opacity 0.5s; */ }
.grid:hover img { /*transform: scale(0.9, 0.9); -ms-transform: scale(0.9, 0.9); -moz-transform: scale(0.9, 0.9); -webkit-transform: scale(0.9, 0.9); -o-transform: scale(0.9, 0.9); */ }
.imgholder {width: 200px;padding: 13px 13px 0 13px; position:relative; text-align:center;background:url(../../images/loading1.gif) center center no-repeat; }
.imgholder a{ font-size:0;}
.imgholder .itemprice {position: absolute; bottom: 2px; right: 15px; z-index:5; padding:0 5px; color:#666; font-family:Arial, Helvetica, sans-serif; opacity:0.8; background:#FFF; line-height: 20px; text-align: center;}

#load_more { margin: 5px auto; font-size:14px; background: url(http://resource1.cn100.com/global/images/loading.gif) center center no-repeat;width: 950px; height: 60px; line-height: 60px;text-align: center; }
#go_more { display: none; margin: 5px auto;background: #f2f0f0; width: 950px; height: 22px; line-height: 22px; border: 1px solid #ccc; text-align: center; }
#page_more{ clear:both; padding-bottom:24px;background: #f2f0f0;}
/*标题、价格、喜欢信息*/
.info {width:200px;padding: 0 13px 2px 13px; margin:8px auto; margin-bottom:0;  position: relative; color:#ff6699; _height: 22px; min-height: 22px; line-height: 16px; }
.info p{ color: #666; padding-top: 2px; }
.info_fun{ padding-top:8px; }
.info .like{float: left; cursor:pointer}
.info .likeit { float: left; display:block;  margin-left:2px; width:39px; height:23px;line-height:23px;text-align: center; color: #fff;background:url(love_bg.gif) left top no-repeat;}
.info .likecont{display:block; font-size:14px;float:left; min-width:30px; text-align:center; margin-left:3px; padding:0 4px;height:22px;-webkit-border-radius:4px;line-height:22px;}
.info .liked .likeit{background-position:left -24px;width:39px;}
.info .comment { float: right; line-height: 23px;vertical-align: middle; text-align:right;}
.info .num { font-family: arial; font-size: 16px; vertical-align: middle;}
.info .commenttxt { font-size: 12px; vertical-align: middle; }
.info .comment .num { font-size: 14px; }
/*评价*/
.sharebg{padding: 0px 13px;margin: 0 auto;clear: both;}
.share { _width:200px;padding:10px 13px;border-bottom:1px solid #fff;visibility: visible; _height: 22px; min-height: 22px; background: #fbebd2;}
.share a { display: inline-block; color: #666;  text-decoration:none;font-weight: normal; }
.share a:hover { color: #ff6699;}
.share .pic { float: left; margin-right: 5px; text-align:center; width: 32px; height: 32px; overflow: hidden; }
.share .pic img { max-width: 32px; _width: 32px; max-height: 32px; _height: 32px; }
.share p {margin-left:40px;color: #666; line-height: 16px; word-break: break-all; }
.share .sharebtn { margin-left: 5px;}
.comm_share{ _width:200px;text-align:center; text-align:center; padding:8px 13px; background:#fbebd2;}
.comm_share a:link{ color:#666666;}
.comm_share a:hover{ color:#ff6699;}
.share a.name { font-weight: bold; }
.aui_main{vertical-align:top;}
.share.share_all{width:550px; height:300px; overflow:auto; padding:0 0 10px 0; background:none;}
.share_all ul li{border-bottom: 1px dashed #ddd;
line-height: 18px;
overflow: hidden;
padding-top: 6px;
padding-bottom: 6px;
width: 100%;}
.share_all .pic{}
.share_all p{}
.share_all p a{ font-weight:700;}
/*pagination_*/
#pagination-cps { width:960px; margin:0 auto; font-weight:700; text-align:center;}
#pagination-cps a{ display:inline-block;font-weight:bold;font-size:14px;height:22px;line-height:22px;text-align:center;white-space:nowrap;color:#ff6699;background-color:#ffe1ea;border:1px solid #fcc8d9;margin:0 1px;min-width:12px;padding:0 4px; }
#pagination-cps .next,
#pagination-cps .previous{ font-weight:bold; }	
#pagination-cps .previous-off,
#pagination-cps .next-off{ background:#fff;cursor:text; border:1px solid #ddd; color: #CCC; margin-right:2px; }
#pagination-cps .active {background:#ffffff;border:1px solid #DDD;color:#000;}
/*aCommentpagination*/
#pagination-aCom { width:500px; margin:0 auto;text-align:center;}
#pagination-aCom a{ margin:0 1px;color:#666;display:inline-block;line-height:18px;text-align:center;white-space:nowrap;background:#ffffff;border:1px solid #999;padding:0 3px; }
#pagination-aCom .next,
#pagination-aCom .previous{border:1px solid #999; }	
#pagination-aCom .previous-off,
#pagination-aCom .next-off{width:50px;border:none;}
#pagination-aCom .active {border:none;color:#000;}


/*鼠标经过add 20130423*/
.ghover {border: 1px solid #e02580; }
.ghover .gridbg{border: 1px solid #e02580;}
.ghover .comm_share a:link{ color:#ff6699;}
.ghover .comm_share a:hover{ color:#ff6699; text-decoration:underline;}
.tbuy{position:absolute; display:none; z-index:1; width:226px;left:0px; bottom:2px;_bottom:1px; text-align:center; height:25px;background-color:#E02580;}
.tbuybg{ position:relative; width:100%;}
.tbuy a{ display: block; right: 5px; position: absolute; overflow: hidden; width: 71px; height: 31px; line-height: 31px; background: url(tbuy_btn.gif) left top no-repeat; text-indent: -999em; color: #fff; font-size: 14px; top: -4px; }
.tbuy a:hover{ color:#fff;font-weight:700;}
.ghover .tbuy{display:block;}
.ghover .info_fun .like,.ghover .info_fun .comment{z-index:3;color:#fff; position:relative; top:0;float:left; }