@charset "utf-8";
/* CSS Document */
.pdg_rightTitle{ width:803px;}
.pdg_rightMainCon a, .ztg_rightMainCon a{ color:#333 !important}
.z_titul{ border-bottom:1px solid #A1C2FA; color:#414141; height:26px; padding:10px 20px 0; display:block;}
.z_titul li{ display:block; float:left; height:25px; line-height:25px; text-align:center; margin:0px 0 0 5px; padding:0 8px; border:#9BBEFA solid 1px;border-radius: 3px 3px 0 0; background:#E4F0FE;}
.z_titul .ahover{ height:26px; border-bottom:none; background:#fff; }
.z_page{padding:5px 0; overflow:hidden;}
.z_page p{ display:block; float:right; padding-right:10px;}
.z_page p a,.z_page p span{ display:block; margin-right:7px; float:left;}
.z_page p strong{ color:#1479AD ; font-weight:bold;}
.screen{ background:#000; opacity:0.2;filter:alpha(opacity=20); position:absolute;  left:0; top:0;}
.z_showdiv{ border:solid 1px #9BBEFA; width:800px; padding:5px; left:3px; top:3px; position:fixed;background:#fff; display:none;_position:absolute; _top:expression(eval(document.documentElement.scrollTop)+100);}
.z_showdiv table{ border:#A1C2FA soild 1px;}
.z_showdiv h2{ text-align:center; font-size:16px; height:45px; line-height:40px; color:#1479AD}
.z_showdiv table td input{ width:100px; height:20px;}

.z_form{ margin:10px; }
.z_form p{ display:block; overflow:hidden; padding:5px;}
.z_form p input{ margin:0 3px;}
.z_form .padleft{ padding-left:80px; width:300px;}
.z_form  i{ display:block; float:left; text-align:right; width:60px; margin-right:10px;}
.z_form .img span{ display:block; width:140px; height:140px; float:left;}
.z_form .img span img{ width:140px; height:140px;}
.z_form .time input,.z_form .time label{vertical-align:middle;}
.z_form .submit_but{ margin-top:10ppx; text-align:center; padding-left:300px; }
.z_form .submit_but a{ display:block; width:40px; height:25px; margin-left:10px; float:left; color:#FFF !important; background:#1479AD;}




.z_ai_content{width:750px; margin:20px auto; padding:10px; border:1px solid #eee;}
.z_ai_content h3{font: bold 14px/28px "宋体";}
.z_ai_content p{font: normal 12px/24px "宋体";}
.z_ai_content .pl25px{padding-left:25px;}
.z_ai_content .pl50px{padding-left:50px;}
.ztg_rightMainCon .submit{display:block; margin:0 auto 10px; width:100px; height:30px; text-align:center;color:#fff; font:bold 14px/30px "宋体"; background-color:#2F92C1; border:1px solid #5A91C2; border-radius:3px;}

.z_sam_search{ padding:18px 8px;}
.z_sam_search h5{display:block; float:left; width:70px; padding-right:10px; text-align:left;  vertical-align:top;}
.z_sam_search .rule{float:left; }

.z_sam_liogoods{margin-top: 15px;border-bottom:1px dashed #dcdddd; font:bold 14px/38px "宋体";}
.z_sam_category{padding:15px;}
.z_sam_category select,.z_sam_category input{ padding:1px;border:1px solid #999;}
.z_sam_category label{vertical-align:middle;}
.z_sam_category select{ height:20px;width:120px;vertical-align: middle;}
.z_sam_category input{height:18px;width:250px;vertical-align: middle; }
.z_sam_category .goodtitle{display:inline-block; margin-left:50px;}
.z_sam_category p{padding:5px 0;}

.z_sam_category a{display:inline-block; width:70px; height:22px; border:1px solid #666; border-radius:3px; background-color:#eee; text-align:center; color:#333;vertical-align: middle;}
.z_sam_table .title th{height:42px; border-right:1px solid #dcdddd; border-bottom:1px dashed #dcdddd; border-top:3px solid #dcdddd; background-color:#fff9ec; font-weight:bold;}
.z_sam_table .title th.norightborder{border-right:none;}
.z_sam_table .list td{ padding:10px 3px; height:42px;  border-bottom:1px solid #ddd !important; background-color:#fffcf7; text-align:center; vertical-align:middle;}
.z_sam_table .list a{color:#005ea6;}
.z_sam_table .list a:hover{color:#b9002a;}
.z_sam_table .list .block{display:block;}
.z_sam_table .checkid{display:inline-block; vertical-align:middle;}
.z_sam_table .list td.listTright{text-align:right;}
